<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		

		<title>All Ticket Listing Page</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet"> 

		
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

		
		<link rel="stylesheet" href="css/font-awesome.min.css">

		
		<link type="text/css" rel="stylesheet" href="css/style.css"/>

    </head>
	<body>

		<!-- Header -->
		<header id="header">
			<!-- Nav -->
			<div id="nav">
				<!-- Main Nav -->
				<div id="nav-fixed">
					<div class="container">
						<!-- logo -->
						<div class="nav-logo">
							<a href="index.html" class="logo"><img src="./img/logo.png" alt=""></a>
						</div>
						<!-- /logo -->

						<!-- nav -->
						<ul class="nav-menu nav navbar-nav">
							<li><a href="category.html">All Request</a></li>
							<li class="cat-2"><a href="category.html">My Profile</a></li>
							
						</ul>
						<!-- /nav -->

				
				</div>
				<!-- Aside Nav -->
			</div>
			<!-- /Nav -->
		</header>
									
						<div class="row">
							<!-- Post content -->
							<div class="col-md-8">
								<div class="section-row sticky-container">
									<div class="main-post">
										<div class="post-meta">
											<h3 class="post-title"><a class="post-img" href="blog-post.html">Need New Asset</a></h3>
											<a class="post-category cat-2" href="category.html">Ticket Status : </a>
											
											<span class="post-date"><b>Creation Time:</b> March 27, 2018</span>
										</div>
										
										<p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs to be filled with real words, with thoughts that count, information that has value. </p>
										
										<div class="post-meta">
											<span class="post-date"><b>Last Update:</b> March 27, 2018</span>
										<span><a class="post-category cat-1">Requested Asset : Asset Number </a></span>
										<span>
											<select>
											  <option value="volvo">Allocate</option>
											  <option value="saab">Reject</option>
											  <option value="opel">Close</option>
											  <option value="audi">Pending For Approval</option>
											</select>
										</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-8">
								<div class="section-row sticky-container">
									<div class="main-post">
										<div class="post-meta">
											<h3 class="post-title"><a class="post-img" href="blog-post.html">Need New Asset</a></h3>
											<a class="post-category cat-2" href="category.html">Ticket Status : </a>
											
											<span class="post-date"><b>Creation Time:</b> March 27, 2018</span>
										</div>
										
										<p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs to be filled with real words, with thoughts that count, information that has value. </p>
										
										<div class="post-meta">
											<span class="post-date"><b>Last Update:</b> March 27, 2018</span>
										<span><a class="post-category cat-1">Requested Asset : Asset Number </a></span>
										<span>
											<select>
											  <option value="volvo">Allocate</option>
											  <option value="saab">Reject</option>
											  <option value="opel">Close</option>
											  <option value="audi">Pending For Approval</option>
											</select>
										</span>
										</div>
									</div>

								</div>

							</div>

						</div>
						
	</body>
</html>
					